extends layout

block content
  h1= title
  if formdata.HR_page
    p Welcome to the HR page, where we know what's good for you.
  else
    p Welcome to #{title}
  h2 Next page

  form(action="/", method="get")
    //- - var checked = '';
    //- if formdata.HR_page
    //-   - checked = ', checked="on"';
    if formdata.HR_page
      input#HR_page(type="checkbox", name="HR_page", checked)
    else
      input#HR_page(type="checkbox", name="HR_page")
    label Go to the HR page
    br
    label Show table of cubes up to 
    //- - var cube_n = 0
    //- - if formdata.cube_n
    //- -   cube_n = formdata.cube_n
    input#cube_n(type="number", name="cube_n", value="0")
    br
    input(type="submit", value="Submit")

    if formdata.cube_n
      - var i = 1
      table(class="cubes")
        caption 
          h3 Table of cubes
        tr
          th n
          th n**3
        
        while i <= formdata.cube_n
          tr
            td #{i}
            td #{i**3}
          - i = i+1
