body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#cube_n {
  width: 3em;
}

table {
  border-collapse: collapse;
}

.cubes th {
  border-bottom: thin solid;
  text-align: center;
  min-width: 5em;
}

.cubes td {
  text-align: right;
}
.cubes td:first-child {
  text-align: center;
  border-right: thin solid;
}

caption > h3 {
  margin-bottom: 0;
}

th.offerings, th.facdetails {
  border-bottom: thin solid;
  padding: 0 0.5em;
}

td.offerings, td.facdetails {
  padding: 0 0.5em;
  text-align: center;
}

.name {
  text-transform: capitalize;
}

legend {
  font-weight: bold;
}

form {
  margin-top: 5ex;
}

fieldset {
  margin: 1ex 0;
}