body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

table.cubes {
  border-collapse: collapse;
}

.cubes th {
  border-bottom: thin solid;
  text-align: center;
  min-width: 5em;
}

.cubes td {
  text-align: right;
}
.cubes td:first-child {
  text-align: center;
  border-right: thin solid;
}

.name {
  text-transform: capitalize;
}